.env
.env.backup
.env.production
.phpunit.result.cache
/.fleet
/.idea
/.phpunit.cache
/.vscode
/node_modules
/public/hot
/public/storage
/storage
/vendor
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
